<!DOCTYPE html>
<html ng-app="application">
    <head>
        <title>Melleva</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="julio torres">
        <script type="text/javascript" src="/js/bootstrap.js"></script>
    </head>
    <body ng-controller="applicationController">
        <div ng-include="applicationController.plantillaHTML"></div>
    </body>
</html>