<div class="app-bar fixed-top navbar-cute" data-role="appbar">
    <a class="app-bar-element branding" href="/">
        <img height="30px" style="height: 30px" src="/images/E(du)cate-02.png">
    </a>
    <ul class="app-bar-menu place-right">
        <li class="menuitem"><a href="/login">Login</a></li>
        <li class="menuitem"><a href="/registrate">Registro</a></li>
    </ul>
</div>
<div style="margin-top: 55px;">
    <div style="min-height: 500px;" ng-html-compile='applicationController.contenidoHTML'></div>
</div>

<script type="text/javascript">url_location = '@';</script>