<div ng-controller='mensajesController' style="margin-top: 0; " ng-class="{mostrar:!preload}">
    <div class="tabcontrol">
        <ul class="tabs">
            <li role="presentation" ng-class="{ active: applicationController.location == 'entrada' }">
                <a ng-href='{{applicationController.servidor}}/mensajes'>Entrada</a>
            </li>
            <li role="presentation" ng-class="{ active: applicationController.location == 'salida' }">
                <a ng-href='{{applicationController.servidor}}/mensajes/salida'>Salida</a>
            </li>
            <li role="presentation" ng-class="{ active: applicationController.location == 'papelera' }">
                <a ng-href='{{applicationController.servidor}}/mensajes/papelera'>papelera</a>
            </li>
        </ul>
    </div>
    <div style="margin: 10px 0 10px 0">
        <div ng-if='applicationController.location == "nuevo"'>
            <button class="button" style="margin: 0 10px 0 0" ng-click='mensajesController.enviar()'>
                Enviar
            </button>
            <button class="button" style="margin: 0 10px 0 0" ng-click='mensajesController.descartar()'>
                Descartar
            </button>
        </div>
        <div ng-if='applicationController.location == "mensaje"'>
            <button class="button" style="margin: 0 10px 0 0" ng-click='mensajesController.responder()'>
                Responder
            </button>
            <button class="button" style="margin: 0 10px 0 0" ng-click='mensajesController.eliminar()'>
                Eliminar
            </button>
        </div>
    </div>
    <div>
        <div>
            <span ng-bind-template="De: {{mensajes.remitente.nombres}} {{mensajes.remitente.apellidos}} <{{mensajes.remitente.usuario}}@melleva.net>"/>
        </div>
        <br>
        <div class='input-control text' style="width: 100%">
            <label>Asunto:</label>
            <input type='text' ng-model="mensajes.asunto" />
        </div>        
        <div>Para:</div>
        <div class="input-control" style="width: 100%; ">
            <select id="select" multiple ng-model="mensajes.destinatarios">
                <option ng-repeat="destinatario in chats" value="{{destinatario.usuario}}">
                    {{destinatario.nombres}} {{destinatario.apellidos}} &lt;{{destinatario.usuario}}@melleva.net&gt;
                </option>
                <option value="{{applicationController.session.usuario}}">
                    {{applicationController.session.nombres}} {{applicationController.session.apellidos}} &lt;{{applicationController.session.usuario}}@melleva.net&gt;
                </option>
            </select>
        </div>
        <script type="text/javascript">var c=$("#select");c.select2();c.hide();</script>
    </div>
    <div class="input-control textarea" style="width: 100%">
        <textarea class="form-control" ng-model="mensajes.contenido" style="height: 350px"></textarea>
    </div>
</div>