<div ng-controller='perfilController' style="margin-top: 0; display: none" ng-class="{mostrar:!preload}">
    <div class="tabcontrol">
        <ul class="tabs" role="tablist" style="margin-bottom: 10px;">
            <li role="presentation" ng-class="{ active: applicationController.location == 'basico' }">
                <a ng-href='{{applicationController.servidor}}/perfil/editar/basico'>Basico</a>
            </li>
            <li role="presentation" ng-class="{ active: applicationController.location == 'contacto' }">
                <a ng-href='{{applicationController.servidor}}/perfil/editar/contacto'>Contacto</a>
            </li>
            <li role="presentation" ng-class="{ active: applicationController.location == 'intereses' }">
                <a ng-href='{{applicationController.servidor}}/perfil/editar/intereses'>Intereses</a>
            </li>
        </ul>
    </div>
    <div ng-if="applicationController.location == 'basico'" class="padding20">
        <div class="item_perfil">
            <div class="input-control text">
                <label for="nombres">Nombres:</label>
                <input type="text" ng-model='perfil.nombres' ng-readonly='!perfilController.isMe()'>
            </div>&nbsp;
            <div class="input-control text">
                <label for="apellidos">Apellidos</label>
                <input type="text" ng-model='perfil.apellidos' ng-readonly='!perfilController.isMe()'>
            </div><br/>
            <button class="button primary" style="width: 120px" ng-click='perfilController.guardarBasico()'>
                Guardar
            </button>
        </div>
        <div class="item_perfil">
            <div class="input-control text" style="width: 508px">
                <label for="email">Correo electronico:</label>
                <input type="text" ng-model='perfil.email' ng-readonly='!perfilController.isMe()'>
            </div><br/>
            <permisos data-id='permiso_email' leyenda='Guardar' 
                      permiso='perfil.permiso_email'
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarEmail'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control text" style="width: 508px">
                <label class='control-label col-sm-4'>Dia nacimiento:</label>
                <select ng-model='perfil.nacimiento_mes' class="input-control select" 
                        ng-disabled='!perfilController.isMe()'
                        ng-options="mes.label for mes in applicationController.meses_disponibles">
                </select>&nbsp;
                <select ng-model='perfil.nacimiento_dia' class="input-control select" 
                        ng-disabled='!perfilController.isMe()' style="width: 80px"
                        ng-options="dia.value for dia in perfil.nacimiento_mes.days">
                </select>
            </div><br/>
            <permisos data-id='permiso_nacimiento_dia' leyenda='Guardar' 
                      permiso='perfil.permiso_nacimiento_dia', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarDiaNacimiento'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control select">
                <label>Año nacimiento:</label>
                <select ng-model='perfil.nacimiento_ano' class="form-control" ng-disabled='!perfilController.isMe()'
                        ng-options="ano.value for ano in applicationController.anos_disponibles">
                </select>
            </div><br/>
            <permisos data-id='permiso_nacimiento_ano' leyenda='Guardar' 
                      permiso='perfil.permiso_nacimiento_ano', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarAnoNacimiento'></permisos>
        </div>

        <div class="item_perfil">
            <div class='input-control select' style="margin-bottom: 10px !important">
                <label>Sexo:</label>
                <select ng-model='perfil.sexo' class="form-control" ng-disabled='!perfilController.isMe()'>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                </select>
            </div><br/>
            <permisos data-id='permiso_sexo' leyenda='Guardar' 
                      permiso='perfil.permiso_sexo', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarSexo'
                      tipo='dropup'></permisos>
        </div>
    </div>
    <div ng-if="applicationController.location == 'contacto'" class="padding20">
        <div class="item_perfil">
            <div class="input-control text" style="width: 508px">
                <label for="email">Pais de nacimiento:</label>
                <input type="text" ng-model='perfil.pais_nacimiento' ng-readonly='!perfilController.isMe()'>
            </div><br/>
            <permisos data-id='permiso_pais_nacimiento' leyenda='Guardar' 
                      permiso='perfil.permiso_pais_nacimiento', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarPaisNacimiento'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control text" style="width: 508px">
                <label for="email">Ciudad de nacimiento:</label>
                <input type="text" ng-model='perfil.ciudad_nacimiento' ng-readonly='!perfilController.isMe()'>
            </div><br/>
            <permisos data-id='permiso_ciudad_nacimiento' leyenda='Guardar' 
                      permiso='perfil.permiso_ciudad_nacimiento', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarCiudadNacimiento'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control text" style="width: 508px">
                <label for="email">Pais de residencia:</label>
                <input type="text" ng-model='perfil.pais_residencia' ng-readonly='!perfilController.isMe()'>
            </div><br/>
            <permisos data-id='permiso_pais_residencia' leyenda='Guardar' 
                      permiso='perfil.permiso_pais_residencia', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarPaisResidencia'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control text" style="width: 508px">
                <label for="email">Ciudad de residencia:</label>
                <input type="text" ng-model='perfil.ciudad_residencia' ng-readonly='!perfilController.isMe()'>
            </div><br/>
            <permisos data-id='permiso_ciudad_residencia' leyenda='Guardar' 
                      permiso='perfil.permiso_ciudad_residencia', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarCiudadResidencia'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control text" style="width: 508px">
                <label for="email">Direccion:</label>
                <input type="text" ng-model='perfil.direccion' ng-readonly='!perfilController.isMe()'>
            </div><br/>
            <permisos data-id='permiso_direccion' leyenda='Guardar' 
                      permiso='perfil.permiso_direccion', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarDireccion'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control text" style="width: 508px">
                <label for="email">Telefono:</label>
                <input type="text" ng-model='perfil.telefono' ng-readonly='!perfilController.isMe()'>
            </div><br/>
            <permisos data-id='permiso_telefono' leyenda='Guardar' 
                      permiso='perfil.permiso_telefono', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarTelefono'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control text" style="width: 508px">
                <label for="email">Celular:</label>
                <input type="text" ng-model='perfil.celular' ng-readonly='!perfilController.isMe()'>
            </div><br/>
            <permisos data-id='permiso_celular' leyenda='Guardar' 
                          permiso='perfil.permiso_celular', 
                          permisos='applicationController.permisos'
                          callback='perfilController.guardarCelular'
                          tipo='dropup'></permisos>
        </div>
    </div>
    <div ng-if="applicationController.location == 'intereses'" class="padding20">
        <div class="item_perfil">
            <div class="input-control textarea" style="width: 100%">
                <label for="email">Personalidad:</label>
                <textarea style="height: 120px" ng-model='perfil.personalidad' ng-readonly='!perfilController.isMe()' class="form-control"></textarea>
            </div><br/>
            <permisos data-id='permiso_personalidad' leyenda='Guardar' 
                      permiso='perfil.permiso_personalidad', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarPersonalidad'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control textarea" style="width: 100%">
                <label for="email">Intereses:</label>
                <textarea style="height: 120px" ng-model='perfil.intereses' ng-readonly='!perfilController.isMe()' class="form-control"></textarea>
            </div><br/>
            <permisos data-id='permiso_intereses' leyenda='Guardar' 
                      permiso='perfil.permiso_intereses', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarIntereses'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control textarea" style="width: 100%">
                <label for="email">Series:</label>
                <textarea style="height: 120px" ng-model='perfil.series' ng-readonly='!perfilController.isMe()' class="form-control"></textarea>
            </div><br/>
            <permisos data-id='permiso_series' leyenda='Guardar' 
                      permiso='perfil.permiso_series', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarSeries'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control textarea" style="width: 100%">
                <label for="email">Musica:</label>
                <textarea style="height: 120px" ng-model='perfil.musica' ng-readonly='!perfilController.isMe()' class="form-control"></textarea>
            </div><br/>
            <permisos data-id='permiso_musica' leyenda='Guardar' 
                      permiso='perfil.permiso_musica', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarMusica'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control textarea" style="width: 100%">
                <label for="email">Creencias religiosas:</label>
                <textarea style="height: 120px" ng-model='perfil.creencias_religiosas' ng-readonly='!perfilController.isMe()' class="form-control"></textarea>
            </div><br/>
            <permisos data-id='permiso_creencias_religiosas' leyenda='Guardar' 
                      permiso='perfil.permiso_creencias_religiosas', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarCreenciasReligiosas'></permisos>
        </div>
        <div class="item_perfil">
            <div class="input-control textarea" style="width: 100%">
                <label for="email">Creencias politicas:</label>
                <textarea style="height: 120px" ng-model='perfil.creencias_politicas' ng-readonly='!perfilController.isMe()' class="form-control"></textarea>
            </div><br/>
            <permisos data-id='permiso_creencias_politicas' leyenda='Guardar' 
                      permiso='perfil.permiso_creencias_politicas', 
                      permisos='applicationController.permisos'
                      callback='perfilController.guardarCreenciasPoliticas'
                      tipo='dropup'></permisos>
        </div>
    </div>
</div>