
<style>
    .presenterlabel {
        height: 100px
    }
</style>
<div class="presentacion" style="padding: 10px; height: 614px">
    <div class="grid" style="height: 500px">
        <div class="row cells3">
            <div class="cell"></div>
            <div class="cell colspan1">
                <center style="margin-top: 175px">
                    <div onmousemove="$('.esta').show()" onmouseout="$('.esta').hide()">
                        <img onmousemove="$('.esta').show()" onmouseout="$('.esta').hide()" class="presenterlabel" src="/images/E(du)cate-06.png">
                        <img style="display: none" class="esta presenterlabel" src="/images/E(du)cate-07.png">
                        <img onmousemove="$('.esta').show()" onmouseout="$('.esta').hide()" class="presenterlabel" src="/images/E(du)cate-08.png">
                    </div>
                </center>
            </div>
            <div class="cell"></div>
        </div>
    </div>
</div>