!DOCTYPE html
html
head
	title Validacion de correo electronicotitle
head
body
	header
		| Bienvenido
	p
        | Cordial saludo {{nombres}} {{apellidos}} te haz registrado en E(du)cate, 
        | para completar el proceso deberas acceder al enlace de validacion.
		| {{link}}